@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  :root[class~="dark"] {
    color-scheme: dark;
  }
}
@layer utilities {
  .glass-effect {
    @apply bg-white/80 dark:bg-gray-900/80 backdrop-blur-2xl border border-white/20 dark:border-gray-800/20;
  }
  
  .glass-effect-darker {
    @apply bg-gray-900/80 backdrop-blur-lg border border-gray-800/20;
  }

  /* Gradient animation for background */
  .animate-gradient {
    background-size: 300% 300%;
    animation: gradient 10s ease-in-out infinite;
  }

  /* Keyframes for a subtle shifting gradient animation */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


body {
  @apply antialiased bg-gradient-to-br from-indigo-50 via-white to-purple-50 dark:from-gray-900 dark:via-gray-800 dark:to-gray-900 animate-gradient;
}